.header__logo {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-left: 104px;
}

@media screen and (max-width: 1440px) {
  .header__logo {
    margin-left: 7vw;
  }
}

@media screen and (max-width: 950px) {
    .header__logo {
        margin-left: 5vw;
        position: relative;
        z-index: 3;
    }
}
