@import url('./_type_black/header__items_type_black.css');
@import url('./_type_white/header__items_type_white.css');

.header__items {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 550px) {
  .header__items {
      width: 100vw;
      position: absolute;
      z-index: 2;
      top: -6vw;
      right: -5vw;
      display: none;
      flex-direction: column;
      align-items: flex-start;
      box-sizing: border-box;
      padding-top: 10vw;
  }
}
