.header__navigation {
    position: relative;
    z-index: 1;
    min-height: 100%;
    display: flex;
    align-items: center;
    margin-right: 104px;
    margin-top: 0;
    margin-bottom: 0;
}

@media screen and (max-width: 1440px) {
  .header__navigation {
    margin-right: 7vw;
  }
}

@media screen and (max-width: 950px) {
    .header__navigation {
        margin-right: 5vw;
    }
}
