@keyframes rotation {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }

.load__image {
    width: 74px;
    height: 74px;
    margin-bottom: 24px;
    background: url('../../../images/Ellipse.png');
    background-size: cover;
    background-repeat: no-repeat;
    animation: rotation 2s linear infinite;
}