.author__paragraph {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 1.1rem;
    line-height: 1.5rem;
    color: #1a1b22;
    margin: 0;
    margin-bottom: 1.5rem;
}